@import url('https://fonts.googleapis.com/css?family=Lato');



h2 {
  margin-bottom: 30px;
  color: #444;
}
html {
  position: relative;
  min-height: 100%;
}
body{
  font-family: 'Lato', sans-serif;
  margin-bottom: 25px;

}

.control-label{
  margin-top: 10px;
  font-weight:200 !important;
  color:#452501	;
}

.btn{
  margin-top:20px;
}

.modal-player{
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-detail{
  font-weight:700;
  color: #333;
}

.modal-label{
  font-weight:200;
  color: #888;
}

.navbar-inverse {
  background-color: rgb(20,	4,	6)	;
  border-color: #080808;
  margin-bottom: 0px;
}

.jumbo-one{
  background-image: url('./images/background.jpg') !important;
  background-size: cover;
  padding-bottom:500px;
  margin-bottom: 0px;
  
}

.jumbo-two{
  background: #f46b45;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom:100px;
     }

.jumbo-h1 {
  padding-bottom:0px !important;
}

h1 {
  padding-top: 20px;
  padding-bottom:20px;
}

.sub-label {
  font-size:10pt;
color: #888;
}

.form-group > span {
  color: red;
  font-size:13px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;

  background-color: rgb(20,	4,	6)	;
}

.footer-text {

  color: #888
}

.information{
  color: green
}




@media (max-width:768px){ .footer{position:absolute;width:100%;} }
  

